.main {
    width: 800px;
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    font-family: 'Arial', sans-serif;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.main img {
    width: 280px;
    height: 118px;
    padding: 50px;
    border-radius: 1.5em;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sign {
    color: rgb(17, 0, 255);
    font-weight: bold;
    font-size: 23px;
    text-align: center;
}

.error {
    color: rgb(255, 98, 98);
    font-style: italic;
    text-align: center;
}

.form1 {
    padding-top: 20px;
    padding-bottom: 10px;
}

.un {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 20px;
    margin-left: 50%;
    transform: translate(-50%);
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.pass {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 50%;
    transform: translate(-50%);
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
    
}

.submit {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, rgb(0, 0, 255), rgb(255, 0, 0));;
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Arial', sans-serif;
    margin-left: 50%;
    transform: translate(-50%);
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.forgot {
    color: rgb(255, 98, 98);
    padding-bottom: 15px;
}

a {
    color: rgb(255, 0, 0);
    text-decoration: none
}

@media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }
}